<div class="card-wrapper schedule">
    {% for day in scheduleDays %}
    <div class="schedule__day">
        <div class="schedule__day_header">
            <div class="week-day">{{day.weekDay}}</div>
            <div>{{day.date}}</div>
        </div>
        {% for lesson in day.lessons %}
        <div class="card-wrapper lesson">
            <div class="button-settings-lesson">
                <img class="button-settings-lesson-img" alt="lesson settings button" src="static/images/more_horizontal.svg"/>
            </div>
            <div class="lesson__header" data="{{lesson.id}}">
                <div class="lesson__header_course" data="{{lesson.course.id}}">{{lesson.course.title}}</div>
                <div class="lesson__header_cab" data="{{lesson.cabinet.id}}">{{lesson.cabinet.title}}</div>
                <div class="lesson__header_tutor" data="{{lesson.teacher.id}}">{{lesson.teacher.name}}</div>
            </div>
            <div class="lesson__content">
                {% for child in lesson.children %}
                <div class="lesson__content_child" data="{{child.id}}">{{child.name}}</div>
                {% endfor %}
            </div>
            <div class="lesson__footer">
                <div>{{lesson.startTime }} - {{ lesson.endTime}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
