<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>{% block title %}JunTracker{% endblock %}</title>
</head>
<body>
<header>
    <div class="logo">JunTracker</div>
    <div class="header-menu">
        <div class="header-select">
            <div class="current__option">{% block currentWindow %}Окно Админиcтратора{% endblock %}</div>
            <a class="control-button">
                <img src="static/images/arrow-down.svg">
            </a>
        </div>
    </div>
    <div class="header-user-wrapper">
        <div class="username">{{username}}</div>
        <div class="avatar-wrapper">
            <img class="header__avatar" src="static/images/avatar.svg">
        </div>
    </div>
    <div class="header-menu-hidden-part-wrapper" data="off">
        <div class="header-menu-hidden-part">
            {% block hiddenMenu %}
            <a class="menu__option" href="#">База учеников</a>
            <a class="menu__option" href="#">Расписание</a>
            <a class="menu__option" href="#">Журнал</a>
            <a class="menu__option" href="#">Финансы</a>
            {% endblock %}
        </div>
    </div>
</header>
{% block main %}
{% endblock %}
</body>
<script type="module" src="static/script/Component.js"></script>
<script type="module" src="static/script/header.js" defer></script>
{% block scripts %}
<script type="module" src="static/script/currentWindow.js" defer></script>
{% endblock %}
</html>