<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <title>JunTracker</title>
</head>
<body>
<header>
    <div class="logo">JunTracker</div>
    <div class="header-menu">
        <div class="header-select">
            <div class="current__option">Окно Админиcтратора</div>
            <a class="control-button">
                <img src="static/images/arrow-down.svg">
            </a>
        </div>
    </div>
    <div class="header-user-wrapper">
        <div class="username">username</div>
        <div class="avatar-wrapper">
            <img class="header__avatar" src="static/images/avatar.svg">
        </div>
    </div>
    <div class="header-menu-hidden-part-wrapper" data="off">
        <div class="header-menu-hidden-part">
            <a class="menu__option" href="#">База учеников</a>
            <a class="menu__option" href="#">Расписание</a>
            <a class="menu__option" href="#">Журнал</a>
            <a class="menu__option" href="#">Финансы</a>
        </div>
    </div>
</header>
<main class="administrator-main">
    <div class="card-wrapper schedule">
        <div class="schedule__day">
            <div class="schedule__day_header">
                <div class="week-day">Поднедельник</div>
                <div>14.03.20</div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>

        </div>
        <div class="schedule__day">
            <div class="schedule__day_header">
                <div class="week-day">Вторник</div>
                <div>14.03.20</div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>

        </div>
        <div class="schedule__day">
            <div class="schedule__day_header">
                <div class="week-day">Среда</div>
                <div>14.03.20</div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">Программирование Python</div>
                    <div class="lesson__header_cab">каб 2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <div class="lesson__content">
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                    <div class="lesson__content_child"> Горченко Максим</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Борисенко Анна</div>
                    <div class="lesson__content_child"> Кузьменко Матвей</div>
                    <div class="lesson__content_child"> Матвеенко Кузьма</div>
                </div>
                <div class="lesson__footer">
                    <div>14:00 - 15:30</div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrapper current-window">
        <div class="schedule__day_header">
            <div id="current-week-day" class="week-day"></div>
            <div id="current-time" class="current-header__time"></div>
            <div id="current-date" class="current-header__date"></div>
        </div>
        <div class="title">Сейчас идет</div>
        <div id="current-wrapper">

        </div>
        <div class="title">Далее</div>
        <div id="next-wrapper">
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">
                        Программирование Python
                    </div>
                    <div class="lesson__header_cab">2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <form class="lesson__content">
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                </form>
                <div class="progress-wrapper">
                    <div class="start-time">15:30</div>
                    <div class="progress-bar"><span></span></div>
                    <div class="end-time">17:00</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">
                        Программирование Python
                    </div>
                    <div class="lesson__header_cab">2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <form class="lesson__content">
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                </form>
                <div class="progress-wrapper">
                    <div class="start-time">19:00</div>
                    <div class="progress-bar"><span></span></div>
                    <div class="end-time">20:30</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">
                        Программирование Python
                    </div>
                    <div class="lesson__header_cab">2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <form class="lesson__content">
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                </form>
                <div class="progress-wrapper">
                    <div class="start-time">19:30</div>
                    <div class="progress-bar"><span></span></div>
                    <div class="end-time">21:00</div>
                </div>
            </div>
            <div class="card-wrapper lesson">
                <div class="lesson__header">
                    <div class="lesson__header_course">
                        Программирование Python
                    </div>
                    <div class="lesson__header_cab">2</div>
                    <div class="lesson__header_tutor">Павел Сергеевич</div>
                </div>
                <form class="lesson__content">
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                    <div class="lesson__content_child">
                        <input type="checkbox" name="child-name"/>
                        <div class="name" data="34">Кузьменько Матвей</div>
                    </div>
                </form>
                <div class="progress-wrapper">
                    <div class="start-time">23:30</div>
                    <div class="progress-bar"><span></span></div>
                    <div class="end-time">23:59</div>
                </div>
            </div>
        </div>
</main>
</body>
<script type="module" src="static/script/Component.js"></script>
<script type="module" src="static/script/header.js" defer></script>
<script type="module" src="static/script/currentWindow.js" defer></script>
</html>