{% extends base.html %}

{% block title %}JunTracker | База учеников{% endblock %}


{% block currentWindow %}База учеников{% endblock %}
{% block hiddenMenu %}
    <a class="menu__option" href="index.html">Окно администратора</a>
    <a class="menu__option" href="scheduleAdmin.html">Расписание</a>
    <a class="menu__option" href="diaryAdmin.html">Журнал</a>
    <a class="menu__option" href="financeAdmin.html">Финансы</a>
{% endblock %}

{% block main %}
<div>lalala</div>
{% endblock %}

{% block scripts %}
{% endblock %}